<div class="content-background">
    <div class="content">
        <h2>
            Ingevulde gegevens
        </h2>

        {% if request is defined and request is not null %}
            <ul class="definition-list">
                <li class="definition-list__item definition-list__item--horizontal">
                    <div class="definition-list__title">
                        {{ 'status'|trans|capitalize }}
                    </div>
                    <div class="definition-list__description">
                        <p>
                            {{ request['status']|trans|capitalize  }}
                        </p>
                    </div>
                </li>
            {% for key, property in request.properties %}
                <li class="definition-list__item definition-list__item--horizontal">

                    <div class="definition-list__title">
                        {{ key|capitalize }}
                    </div>

                    <div class="definition-list__description">
                        <p>
                            {% if property is iterable %}
                                {% for key, value in property %}
                                    {% if value is iterable %}
                                        <ul>
                                    {% for item in value %}
                                        {% if item is iterable %}
                                        {% for subItem in item %}
                                            {% if 'http' in subItem %}
                                                <li>{{ commonground_resource(subItem).name|capitalize }}</li>
                                            {% else %}
                                                <li>{{ subItem|capitalize }}</li>
                                            {% endif %}
                                            {% endfor %}
                                        {% else %}
                                            {% if 'http' in item %}
                                                <li>{{ commonground_resource(item).name|capitalize }}</li>
                                            {% else %}
                                                <li>{{ item|capitalize }}</li>
                                            {% endif %}
                                        {% endif %}
                                        {% endfor %}
                                    </ul>
                                    {% else %}
                                        {% if 'http' in value %}
                                            {{ commonground_resource(value).name|capitalize }}<br>
                                        {% else %}
                                            {{ value|capitalize }}<br>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {# else %}
                                {% if commonground_is_resource(property) %}
                                    {% set property = commonground_resource(property) %}
                                    {% if property.naam.voornamen is defined and property.naam.geslachtsnaam is defined %}
                                        {{ property.naam.voornamen }} {{ property.naam.geslachtsnaam }}
                                    {% elseif property.reference is defined %}
                                        {{ property.reference }}
                                    {% elseif property.name is defined %}
                                        {{ property.name }}
                                    {% endif #}
                                {% else %}
                                    {% if 'http' in property %}
                                        {{ commonground_resource(property).name|capitalize }}
                                    {% else %}
                                    {{ property|capitalize }}
                                    {% endif %}
                                {# endif #}
                            {% endif %}
                        </p>
                    </div>

                </li>
            {% endfor %}
            </ul>
        {% endif %}

    </div>
</div>

<div class="content-background" style="margin-top: 20px">

    <div class="content">
        <h2>Gegevens indiener</h2>
        <ul class="definition-list">
            {% if user.naam.voornamen is defined and user.naam.voornamen is not empty %}
                <li class="definition-list__item definition-list__item--horizontal">
                    <div class="definition-list__title">
                        Voornamen
                    </div>
                    <div class="definition-list__description">
                        <p>{{ user.naam.voornamen }}</p>
                    </div>
                </li>
            {% endif %}
            {% if user.naam.geslachtsnaam is defined and user.naam.geslachtsnaam is not empty %}
                <li class="definition-list__item definition-list__item--horizontal">
                    <div class="definition-list__title">
                        Achternaam
                    </div>
                    <div class="definition-list__description">
                        <p>{{ user.naam.geslachtsnaam }}</p>
                    </div>
                </li>
            {% endif %}
            {% if user.naam.voorvoegsel is defined and user.naam.voorvoegsel is not empty%}
                <li class="definition-list__item definition-list__item--horizontal">
                    <div class="definition-list__title">
                        Voorvoegsel
                    </div>
                    <div class="definition-list__description">
                        <p>{{ user.naam.voorvoegsel }}</p>
                    </div>
                </li>
            {% endif %}
            {% if user.leeftijd is defined and user.leeftijd is not empty%}
                <li class="definition-list__item definition-list__item--horizontal">
                    <div class="definition-list__title">
                        Leeftijd
                    </div>
                    <div class="definition-list__description">
                        <p>{{ user.leeftijd }}</p>
                    </div>
                </li>
            {% endif %}
            {% if user.geslachtsaanduiding is defined and user.geslachtsaanduiding is not empty%}
                <li class="definition-list__item definition-list__item--horizontal">
                    <div class="definition-list__title">
                        Geslacht
                    </div>
                    <div class="definition-list__description">
                        <p>{{ user.geslachtsaanduiding }}</p>
                    </div>
                </li>
            {% endif %}
            <li class="definition-list__item definition-list__item--horizontal">
                <div class="definition-list__title">
                    Addres
                </div>
                <div class="definition-list__description">
                    <p>
                        {% if user.verblijfplaats.straatnaam is defined and user.verblijfplaats.straatnaam is not empty %}{{ user.verblijfplaats.straatnaam }}{% endif %}
                        {% if user.verblijfplaats.huisnummer is defined and user.verblijfplaats.huisnummer is not empty %}{{ user.verblijfplaats.huisnummer }}{% endif %}
                        {% if user.verblijfplaats.huisletter is defined and user.verblijfplaats.huisletter is not empty %}{{ user.verblijfplaats.huisletter }}{% endif %}
                        {% if user.verblijfplaats.huisnummertoevoeging is defined and user.verblijfplaats.huisnummertoevoeging is not empty %}{{ user.verblijfplaats.huisnummertoevoeging }}{% endif %}
                        <br>
                        {% if user.verblijfplaats.postcode is defined and user.verblijfplaats.postcode is not empty %}{{ user.verblijfplaats.postcode }}{% endif%}
                        {% if user.verblijfplaats.woonplaatsnaam is defined and  user.verblijfplaats.woonplaatsnaam is not empty %}{{ user.verblijfplaats.woonplaatsnaam }}{% endif %}
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>

{% if request['status'] is defined and request['status'] in {'incomplete':'incomplete','complete':'complete'} %}
<button name="request[status]" style="margin-top: 20px;" id="status_submit" value="submitted" class="btn btn--block">{{ 'submit'|trans|capitalize }}</button>
<button name="request[status]" style="margin-top: 20px; background-color: red; color: white;" id="status_cancel" value="cancelled" class="btn btn--block btn--primary">{{ 'cancel'|trans|capitalize }}</button>
{% elseif request['status'] is defined and request['status'] in {'submitted':'submitted'} %}
<button name="request[status]" style="margin-top: 20px; background-color: red; color: white;" id="status_retract" value="retracted" class="btn btn--block btn--primary">{{ 'retract'|trans|capitalize }}</button>
{% endif %}





