{% extends "base.html.twig" %}

{% block content %}
<div class="container">

    <!-- the alert box -->

    <div class="container">

        <section class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-xs-12">
                <div class="content">
                    {#<a class="backlink" href="{{ path('app_education_course', {id: activity.course.id}) }}">{{ course.name|capitalize }}</a>#}
                    <header class="content__header">
                        <h1 class="content__header-title">{{ activity.name|capitalize }}</h1>
                        <p class="content__header-paragraph">{{ activity.description|capitalize }}</p>
                    </header>
                </div>
            </div>
        </section>

        <article>
            <div class="row">

                <div class="col-xl-12 col-lg-12 col-md-12">

                    <div class="notification notification--warning">
                        <div class="notification__content">
                            <div class="notification__type">LET OP</div>
                            <h2 class="notification__title">U moet voor deze activiteit nog en resultaat indienen</h2>
                        </div>
                    </div>

                    <div class="content-background">
                        <div class="content">
                            <div class="edit-section">
                                <h2>Algemene gegevens</h2>
                            </div>
                            <ul class="definition-list">
                                <li class="definition-list__item ">
                                    <div class="definition-list__title">
                                        {{ 'description'|trans|capitalize }}
                                    </div>
                                    <div class="definition-list__description">
                                        <p>{{ activity.description }}</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div style="height:20px;"></div>

                    <div class="collapse" role="status">
                        <div x-uno-collapse="" class="collapse__header">
                            <i class="collapse__indicator">
                                <span class="screenreader-only" data-contracted-i18n="ingeklapt" data-expanded-i18n="uitgeklapt"></span>
                            </i>
                            <span class="collapse__title">Resultaat indienen</span>
                        </div>
                        <div class="collapse__details collapse__details--open">
                            <h2>Uw resultaat</h2>

                            <form>
                                <div class="input">
                                    <label class="input__label" for="reason_visit">Toelichting</label>
                                    <textarea class="input__control input__control--text" id="reason_visit"></textarea>
                                </div>

                                <div class="input">
                                    <label class="input__label" for="what_did_you_expect">Wat verwacht u van het programma?</label>
                                    <input type="file" id="brin" class="input__control input__control--m input__control--file">
                                </div>

                                <aside class="hint">
                                    <span class="hint__title">Inloggen</span>
                                    <p>U dient eerst in te loggen voordat u zich voor dit programma kunt inschrijven.</p>
                                </aside>

                                <div class="input">
                                    <button class="btn btn--primary">Verzenden <i class="icon icon-arr-forward"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>



                </div>


            </div>
        </article>
    </div>

</div>

{% endblock %}
