{% extends "base.html.twig" %}

{% block content %}
<div class="container">

    <!-- the alert box -->

    <div class="container">
        <section class="row">
            <div class="col-xl-9 col-xl-offset-3 col-lg-8 col-lg-offset-4 col-md-9 col-md-offset-3 col-xs-12">
                <header class="content__header">
                    <h1 class="content__header-title">{{ course.name|capitalize }}</h1>
                </header>
            </div>
        </section>

        <article>
            <div class="row">
                <aside class="col-xl-3 col-lg-4 col-md-3 col-sm-modal">
                    <nav class="sidenav">
                        <ul>
                            <li class="sidenav__item">
                                <a href="{{ path('app_education_courses') }}">
                                    Introductie
                                </a>
                            </li>
                            {% for course in resources %}
                            <li class="sidenav__item {% if id is defined and id == course.id %}sidenav__item--active{% endif %}">
                                <a href="{{ path('app_education_course', {id: course.id}) }}">
                                    {{ course.name|capitalize }}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </nav>
                </aside>

                <div class="col-xl-9 col-lg-8 col-md-9">

                    <div class="notification notification--warning">
                        <div class="notification__content">
                            <div class="notification__type">LET OP</div>
                            <h2 class="notification__title">U voldoet nog niet aan de (start)voorwaarden voor deze cursus</h2>
                        </div>
                    </div>

                    <div class="content-background">
                        <div class="content">
                            <div class="edit-section">
                                <h2>Algemene gegevens</h2>
                            </div>
                            <ul class="definition-list">
                                <li class="definition-list__item definition-list__item--horizontal">
                                    <div class="definition-list__title">
                                        Onderwijslocatiecode
                                    </div>
                                    <div class="definition-list__description">
                                        <p>99X999</p>
                                    </div>
                                </li>
                                <li class="definition-list__item definition-list__item--horizontal">
                                    <div class="definition-list__title">
                                        Naam
                                    </div>
                                    <div class="definition-list__description">
                                        <p>Locatie Terheijdenseweg
                                    </div>
                                </li>
                                <li class="definition-list__item definition-list__item--horizontal">
                                    <div class="definition-list__title">
                                        <span>Begindatum</span>
                                    </div>
                                    <div class="definition-list__description">
                                        <p>01-05-1990</p>
                                    </div>
                                </li>
                                <li class="definition-list__item ">
                                    <div class="definition-list__title">
                                        {{ 'description'|trans|capitalize }}
                                    </div>
                                    <div class="definition-list__description">
                                        <p>{{ course.description }}</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div style="height:20px;"></div>

                    <div class="content-background">
                        <div class="content">
                            <h2>{{ 'activities'|trans|capitalize }}</h2>
                            <ul class="list list--subjects columns">
                                {% for activity in course.activities %}
                                    <li>
                                        <a href="{{ path('app_education_activity', {id: activity.id}) }}" class="list__link">
                                            {{ activity.name|capitalize }}
                                        </a>
                                        <p> {{ activity.description}}</p>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                </div>


            </div>
        </article>
    </div>

</div>

{% endblock %}
