{% extends "base.html.twig" %}

{% block content %}
<div class="container">

    <!-- the alert box -->

    <div class="container">
        <section class="row">
            <div class="col-xl-9 col-xl-offset-3 col-lg-8 col-lg-offset-4 col-md-9 col-md-offset-3 col-xs-12">
                <header class="content__header">
                    <h1 class="content__header-title">{{ program.name|capitalize }}</h1>
                </header>
            </div>
        </section>

        <article>
            <div class="row">
                <aside class="col-xl-3 col-lg-4 col-md-3 col-sm-modal">
                    <nav class="sidenav">
                        <ul>
                            <li class="sidenav__item">
                                <a href="{{ path('app_education_programs') }}">
                                    Introductie
                                </a>
                            </li>
                            {% for program in resources %}
                            <li class="sidenav__item {% if id is defined and id == program.id %}sidenav__item--active{% endif %}">
                                <a href="{{ path('app_education_program', {id: program.id}) }}">
                                    {{ program.name|capitalize }}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </nav>
                </aside>

                <div class="col-xl-9 col-lg-8 col-md-9">

                    <div class="notification notification--warning">
                        <div class="notification__content">
                            <div class="notification__type">LET OP</div>
                            <h2 class="notification__title">Voor dit progamma geld een aanmeldings deadline</h2>
                        </div>
                    </div>

                    <div class="content-background">
                        <div class="content">
                            <div class="edit-section">
                                <h2>Algemene gegevens</h2>
                            </div>
                            <ul class="definition-list">
                                <li class="definition-list__item definition-list__item--horizontal">
                                    <div class="definition-list__title">
                                        Onderwijslocatiecode
                                    </div>
                                    <div class="definition-list__description">
                                        <p>99X999</p>
                                    </div>
                                </li>
                                <li class="definition-list__item definition-list__item--horizontal">
                                    <div class="definition-list__title">
                                        Naam
                                    </div>
                                    <div class="definition-list__description">
                                        <p>Locatie Terheijdenseweg
                                    </div>
                                </li>
                                <li class="definition-list__item definition-list__item--horizontal">
                                    <div class="definition-list__title">
                                        <span>Aanmelden vóór</span>
                                    </div>
                                    <div class="definition-list__description">
                                        <p>01-05-1990</p>
                                    </div>
                                </li>
                                <li class="definition-list__item definition-list__item--horizontal">
                                    <div class="definition-list__title">
                                        <span>Begindatum</span>
                                    </div>
                                    <div class="definition-list__description">
                                        <p>01-05-1990</p>
                                    </div>
                                </li>
                                <li class="definition-list__item ">
                                    <div class="definition-list__title">
                                        {{ 'description'|trans|capitalize }}
                                    </div>
                                    <div class="definition-list__description">
                                        <p>{{ program.description }}</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div style="height:20px;"></div>

                    <div class="content-background background--hemelblauw">
                        <div class="content">
                            <h2>{{ 'courses'|trans|capitalize }}</h2>
                            <ul class="list list--links list--chevrons columns">
                                {% for course in program.courses %}
                                    <li>
                                        <a href="{{ path('app_education_course', {id: course.id}) }}">
                                            {{ course.name|capitalize }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <div style="height:20px;"></div>

                    <div class="collapse" role="status">
                        <div x-uno-collapse="" class="collapse__header">
                            <i class="collapse__indicator">
                                <span class="screenreader-only" data-contracted-i18n="ingeklapt" data-expanded-i18n="uitgeklapt"></span>
                            </i>
                            <span class="collapse__title">Inschrijven voor dit programma</span>
                        </div>
                        <div class="collapse__details collapse__details--open">
                            <h2>Motieer uw inschrijving</h2>

                            <form>
                                <div class="input">
                                    <label class="input__label" for="reason_visit">Waarom wilt u zich inschrijven voor dit programma?</label>
                                    <textarea class="input__control input__control--text" id="reason_visit"></textarea>
                                </div>

                                <div class="input">
                                    <label class="input__label" for="what_did_you_expect">Wat verwacht u van het programma?</label>
                                    <textarea class="input__control input__control--text" id="what_did_you_expect"></textarea>
                                </div>

                                <aside class="hint">
                                    <span class="hint__title">Inloggen</span>
                                    <p>U dient eerst in te loggen voordat u zich voor dit programma kunt inschrijven.</p>
                                </aside>

                                <div class="input">
                                    <button class="btn btn--primary">Verzenden <i class="icon icon-arr-forward"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>


                </div>

            </div>
        </article>
    </div>

</div>

{% endblock %}
