    <nav class=" {% if application is defined and application.defaultConfiguration.configuration.colorSchemeMenu is defined  %}{{ application.defaultConfiguration.configuration.colorSchemeMenu }}{% else %}background--donkerblauw{% endif %}" id="docs-nav">
        <div class="container">
            <div class="top-nav__block top-nav-autoresize">
                <ul class="nav nav--submenu">
                {% if application is defined and application.defaultConfiguration.configuration is defined and application.defaultConfiguration.configuration.mainMenu is defined  %}
                    {% set menu = commonground_resource(application.defaultConfiguration.configuration.mainMenu) %}
                    {% for item in menu.menuItems %}
                        <li class="nav__item">
                            <a href="{{ item.href }}" title="Home" class="nav__link  ">
                                <i class="{{ item.icon }}" role="presentation"></i>
                                <span>{{ item.name }}</span>
                            </a>
                        </li>
                    {% endfor %}
                {% else %}
                    <li class="nav__item">
                        <a href="{{ path('app_default_index') }}" title="Home" class="nav__link  ">
                            <i class="icon icon-home" role="presentation"></i>
                            <span>Home</span>
                        </a>
                    </li>
                {% endif %}
                {% if user is defined and user is not empty %}
                    {% if application is defined and application.defaultConfiguration.configuration is defined and application.defaultConfiguration.configuration.loggedIn is defined  %}
                        {% set loggedIn = commonground_resource(application.defaultConfiguration.configuration.loggedIn) %}
                        <li class="nav__item nav__item--parent">
                            <a class="nav__link nav__link--parent" href="#"><i style="margin-right: 10px" class="fas fa-user"></i>{{ user.naam.voornamen }} {{ user.naam.geslachtsnaam }}</a>
                            <ul class="nav__submenu" style="background-color: #CC0000; width: 100%; margin-top: -3px; padding-top: 0;">
                                {% for item in loggedIn.menuItems %}
                                    <li class="nav__item" style="text-align: center" >
                                        <a  href="{{ item.href }}" title="Home" class="nav__link">
                                            <span>{{ item.name }}</span>
                                        </a>
                                    </li>
                                {% endfor %}
                                <li class="nav__item" style="text-align: center" >
                                    <a class="nav__link" style="height: 100%" href="{{ path('app_user_logout') }}">Uitloggen</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li class="nav__item nav__item--parent">
                            <a class="nav__link nav__link--parent" href="#"><i style="margin-right: 10px" class="fas fa-user"></i>{{ user.naam.voornamen }} {{ user.naam.geslachtsnaam }}</a>
                            <ul class="nav__submenu" style="background-color: #CC0000; width: 100%; margin-top: -3px; padding-top: 0;">
                                <li class="nav__item" style="text-align: center" >
                                    <a class="nav__link" style="height: 100%" href="{{ path('app_user_logout') }}">Uitloggen</a></li>
                            </ul>
                        </li>
                    {% endif %}
                {% else %}
                    {% if application is defined and application.defaultConfiguration.configuration is defined and application.defaultConfiguration.configuration.loggedOut is defined  %}
                        {% set loggedOut = commonground_resource(application.defaultConfiguration.configuration.loggedOut) %}
                        <li class="nav__item nav__item--parent">
                            <a class="nav__link nav__link--parent" href="#"><i style="margin-right: 10px;" class="fas fa-lock"></i>Inloggen</a>
                            <ul class="nav__submenu" style="background-color: #CC0000; width: 100%; margin-top: -3px; padding-top: 0;">
                                <li class="nav__item" style="text-align: center" >
                                    <a  href=" {{ commonground_cleanurl({"component":"ds"}) }}?responceUrl={{ absolute_url(path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params'))) }}" title="Home" class="nav__link">
                                        <span>Inwoner</span>
                                    </a>
                                </li>
                                {% for item in loggedOut.menuItems %}
                                    <li class="nav__item" style="text-align: center" >
                                        <a  href="{{ item.href }}" title="Home" class="nav__link">
                                            <span>{{ item.name }}</span>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% else %}
                        <li class="nav__item nav__item--parent">
                            <a class="nav__link nav__link--parent" href="#"><i style="margin-right: 10px;" class="fas fa-lock"></i>Inloggen</a>
                            <ul class="nav__submenu" style="background-color: #CC0000; width: 100%; margin-top: -3px; padding-top: 0;">
                                <li class="nav__item" style="text-align: center" >
                                    <a href=" {{ commonground_cleanurl({"component":"ds"}) }}?responceUrl={{ absolute_url(path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params'))) }}" title="Home" class="nav__link">
                                        <span>Inwoner</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                {% endif %}
                </ul>

            </div>
        </div>

    </nav>

