<br>

<div class="row">
    <div class="col-sm-12">
        <div class="row" id="getuigen-container">
            <div id="0"></div>
            {% if request.properties.getuigen is defined and request.properties.getuigen is not empty %}
                {% set value = 1 %}
                {% for getuige in request.properties.getuigen %}
                    <div id="{{ value }}" class="col-sm-12 col-md-5" style="min-height: 131px; margin: 1%; width: 48%; border: 2px solid #19c3e6; text-align: center;">
                        <h2 id="{{ value }}">{{ getuige.person.givenName }} {{ getuige.person.familyName }}</h2>
                        <div id="{{ value }}" style="line-height: 15px">
                            <p id="{{ value }}">Email: {{ getuige.email }}</p>
                            <p id="{{ value }}">Telefoon: {{ getuige.telephone }}</p>
                            <input type="hidden" id="{{ value }}" value="{{ getuige.email }}" name="request[properties][{{ property.name }}][{{ value }}][email]">
                            <input type="hidden" id="{{ value }}" value="{{ getuige.telephone }}" name="request[properties][{{ property.name }}][{{ value }}][telephone]">
                            <input type="hidden" id="{{ value }}" value="{{ getuige.person.givenName }}" name="request[properties][{{ property.name }}][{{ value }}][person][givenName]">
                            <input type="hidden" id="{{ value }}" value="{{ getuige.person.familyName }}" name="request[properties][{{ property.name }}][{{ value }}][person][familyName]">
                            <button class="btn btn-primary" id="{{ value }}" onclick="storedDelete(this, '{{ property.maxItems }}')" style="background-color:red; margin-bottom: 5px; width: 100%" type="button"><i style="margin-right: 10px" class="fas fa-trash-alt"></i>Verwijderen</button>
                        </div>
                    </div>
                    {% set value = value + 1 %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div id="personForm" class="col-sm-12">
        <div>

            <label class="input__label" for="voornaam">Voornaam</label>
            <input class="input__control input__control--text" style="width: 100%" id="getuigenVoornaam" type="text">
            <label class="input__label" for="achternaam">Achternaam</label>
            <input class="input__control input__control--text" style="width: 100%" id="getuigenAchternaam" type="text">
            <label class="input__label" for="email">Email</label>
            <input class="input__control input__control--text" style="width: 100%" id="getuigenEmail" type="email">
            <span id="inputResult"></span>
            <label class="input__label" for="telefoon">Telefoonnummer</label>
            <input class="input__control input__control--text" style="width: 100%" id="getuigenTelefoon" type="tel">
            <button class="btn" id="toevoegen" onclick="addGetuigen('{{ property.name }}', '{{ property.maxItems }}')" type="button" style="margin-top: 5px; width: 100%">Uitnodigen</button>
        </div>
    </div>
</div>

<script>
    let personForm = document.getElementById("personForm");

    function addGetuigen(propertyName, items) {
        let input = document.getElementById('getuigenEmail');
        if(!input.checkValidity()){
            document.getElementById('inputResult').innerHTML = 'Zorg dat je een geldig e-mail adres invult';
        }else{
            document.getElementById('inputResult').innerHTML = '';
            let container = document.getElementById("getuigen-container");
            if(container.children.length === parseInt(items)){
                $('#toevoegen').prop('disabled', true);
                personForm.setAttribute('style', 'display: none;');
            }
            let email = document.getElementById('getuigenEmail').value;
            let telefoon = document.getElementById('getuigenTelefoon').value;
            let voornaam = document.getElementById('getuigenVoornaam').value;
            let achternaam = document.getElementById('getuigenAchternaam').value;
            let nameCount = document.getElementById("getuigen-container").children[container.children.length-1].id;
            let hEmail = document.createElement('input');
            let hTelefoon = document.createElement('input');
            let hVoornaam = document.createElement('input');
            let hAchternaam = document.createElement('input');
            let counter;

            if(nameCount !== undefined){
                counter = parseInt(nameCount) + 1;
            } else {
                counter = parent.children.length;
            }

            hEmail.id = counter.toString();
            hTelefoon.id = counter.toString();
            hVoornaam.id = counter.toString();
            hAchternaam.id = counter.toString();


            hEmail.type = 'hidden';
            hTelefoon.type = 'hidden';
            hVoornaam.type = 'hidden';
            hAchternaam.type = 'hidden';

            hEmail.value = email;
            hTelefoon.value = telefoon;
            hVoornaam.value = voornaam;
            hAchternaam.value = achternaam;

            hEmail.name = 'request[properties]['+ propertyName +']['+ counter.toString() +'][email]';
            hTelefoon.name = 'request[properties]['+ propertyName +']['+ counter.toString() +'][telephone]';
            hVoornaam.name = 'request[properties]['+ propertyName +']['+ counter.toString() +'][person][givenName]';
            hAchternaam.name = 'request[properties]['+ propertyName +']['+ counter.toString() +'][person][familyName]';


            let outerDiv = document.createElement('div');
            outerDiv.className = "col-sm-12 col-md-6";
            outerDiv.setAttribute('style', 'min-height: 131px; margin: 1%; width: 48%; border: 2px solid #19c3e6; text-align: center;');
            outerDiv.id = counter.toString();
            container.appendChild(outerDiv);

            let h2 = document.createElement('h2');
            h2.innerHTML = voornaam + " " + achternaam;
            h2.id = counter.toString();
            outerDiv.appendChild(h2);

            let innerDiv = document.createElement('div');
            innerDiv.setAttribute('style', 'line-height: 15px');
            innerDiv.id = counter.toString();
            outerDiv.appendChild(innerDiv);

            let pEmail = document.createElement('p');
            pEmail.innerHTML = 'Email: ' + email;
            pEmail.id = counter.toString();
            innerDiv.appendChild(pEmail);

            let pTelefoon = document.createElement('p');
            pTelefoon.innerHTML = 'Telefoon: ' + telefoon;
            pTelefoon.setAttribute('style', 'margin-bottom: 5px;');
            pTelefoon.id = counter.toString();
            innerDiv.append(pTelefoon);

            let button = document.createElement('button');
            button.innerHTML = '<i style="margin-right: 10px" class="fas fa-trash-alt"></i> Verwijderen';
            button.addEventListener('click', function(){
                removeGetuigen(outerDiv, '{{ property.maxItems }}');
            });
            button.className = 'btn btn-primary';
            button.setAttribute('style', 'background-color: red; margin-bottom: 5px; width:100%;')
            button.type = 'button';
            button.id = counter.toString();
            innerDiv.appendChild(button);

            innerDiv.appendChild(hEmail);
            innerDiv.appendChild(hTelefoon);
            innerDiv.appendChild(hVoornaam);
            innerDiv.appendChild(hAchternaam);

            document.getElementById('getuigenEmail').value = null;
            document.getElementById('getuigenTelefoon').value = null;
            document.getElementById('getuigenVoornaam').value = null;
            document.getElementById('getuigenAchternaam').value = null;
        }

    }

    function removeGetuigen(target, items) {
        let container = document.getElementById("getuigen-container");
        target.remove();
        if(container.children.length < parseInt(items) + 1){
            $('#toevoegen').prop('disabled', false);
            personForm.setAttribute('style', 'display: block;');
        }
    }

    function storedDelete(given, items){
        let container = document.getElementById("getuigen-container");
        let td = given.parentNode;
        let tr = td.parentNode;
        given.remove();
        td.remove();
        tr.remove();
        if(container.children.length < parseInt(items) + 1){
            $('#toevoegen').prop('disabled', false);
            personForm.setAttribute('style', 'display: block;');
        }
    }
</script>
